In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2022-01-25 20:02:17,-34.4187,19.2345,67.80,73,70,14.85
1,1,Isangel,VU,2022-01-25 20:06:07,-19.5500,169.2667,81.95,80,10,2.66
2,2,Fare,PF,2022-01-25 20:07:28,-16.7000,-151.0167,80.44,79,97,15.93
3,3,Arraial Do Cabo,BR,2022-01-25 20:03:27,-22.9661,-42.0278,80.46,74,0,27.63
4,4,Havelock,US,2022-01-25 20:07:29,34.8791,-76.9013,56.05,71,100,1.99

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Isangel,VU,2022-01-25 20:06:07,-19.5500,169.2667,81.95,80,10,2.66
2,2,Fare,PF,2022-01-25 20:07:28,-16.7000,-151.0167,80.44,79,97,15.93
3,3,Arraial Do Cabo,BR,2022-01-25 20:03:27,-22.9661,-42.0278,80.46,74,0,27.63
8,8,Almeirim,BR,2022-01-25 20:07:30,-1.5233,-52.5817,87.78,56,100,5.59
13,13,Nioro,GM,2022-01-25 20:07:31,13.3500,-15.7500,86.36,8,100,8.41
16,16,Cabo San Lucas,MX,2022-01-25 20:04:43,22.8909,-109.9124,77.50,43,0,6.91
21,21,Vaini,TO,2022-01-25 20:04:42,-21.2000,-175.2000,79.68,71,34,16.04
25,25,Rikitea,PF,2022-01-25 20:01:09,-23.1203,-134.9692,78.57,72,100,18.07
27,27,Waw,SS,2022-01-25 20:07:34,7.7029,27.9953,78.69,22,54,4.76
30,30,Faanui,PF,2022-01-25 20:02:15,-16.4833,-151.7500,81.14,75,100,15.68

In [13]:
preferred_cities_df.count()

City_ID       167
City          167
Country       166
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [14]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Isangel,VU,2022-01-25 20:06:07,-19.5500,169.2667,81.95,80,10,2.66
2,2,Fare,PF,2022-01-25 20:07:28,-16.7000,-151.0167,80.44,79,97,15.93
3,3,Arraial Do Cabo,BR,2022-01-25 20:03:27,-22.9661,-42.0278,80.46,74,0,27.63
8,8,Almeirim,BR,2022-01-25 20:07:30,-1.5233,-52.5817,87.78,56,100,5.59
13,13,Nioro,GM,2022-01-25 20:07:31,13.3500,-15.7500,86.36,8,100,8.41
...,...,...,...,...,...,...,...,...,...,...
562,562,Saint-Georges,GD,2022-01-25 20:22:06,12.0564,-61.7485,85.68,62,20,25.32
569,569,San Jose De Guanipa,VE,2022-01-25 20:22:09,8.8872,-64.1651,85.64,46,97,9.71
572,572,Mahajanga,MG,2022-01-25 20:22:10,-15.7167,46.3167,77.02,88,40,4.61
579,579,Luganville,VU,2022-01-25 20:22:12,-15.5333,167.1667,80.29,81,94,3.06
583,583,Imbituba,BR,2022-01-25 20:22:13,-28.2400,-48.6703,85.89,64,51,19.26

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Isangel      VU     81.95 -19.5500  169.2667
2              Fare      PF     80.44 -16.7000 -151.0167
3   Arraial Do Cabo      BR     80.46 -22.9661  -42.0278
8          Almeirim      BR     87.78  -1.5233  -52.5817
13            Nioro      GM     86.36  13.3500  -15.7500
16   Cabo San Lucas      MX     77.50  22.8909 -109.9124
21            Vaini      TO     79.68 -21.2000 -175.2000
25          Rikitea      PF     78.57 -23.1203 -134.9692
27              Waw      SS     78.69   7.7029   27.9953
30           Faanui      PF     81.14 -16.4833 -151.7500

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head()

               City Country  Max Temp      Lat       Lng       Hotel Name
1           Isangel      VU     81.95 -19.5500  169.2667          Isangel
2              Fare      PF     80.44 -16.7000 -151.0167             Fare
3   Arraial Do Cabo      BR     80.46 -22.9661  -42.0278  Arraial do Cabo
8          Almeirim      BR     87.78  -1.5233  -52.5817         Almeirim
13            Nioro      GM     86.36  13.3500  -15.7500            Nioro

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))